<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos App</title>
  </head>
  <body>
    <h1>Cadastro de Eventos</h1>
    <form action="#" method="post">
      <label for="nome_evento">Nome: </label>
      <input type="text" name="nome" id="nome_evento">

      <label for="local_evento">Local: </label>
      <input type="text" name="local" id="local_evento">

      <label for="data_evento">Data: </label>
      <input type="date" name="data" id="data_evento">

      <label for="horario_evento">Horário: </label>
      <input type="text" name="horario" id="horario_evento">
      <button type="submit">Salvar</button>
    </form>
  </body>
</html>